export PATH=/usr/local/go/bin:~/go/bin:${PATH}
export DATABASE_DRIVER=sqlite3
export DATABASE_CONNECTIONSTRING='file:bib.db?cache=shared&_fk=1'
export OIDC_DISCOVERY=http://127.0.0.1:5556/dex
export OIDC_CLIENTID=example-app
export OIDC_CLIENTSECRET=ZXhhbXBsZS1hcHAtc2VjcmV0
export OIDC_REDIRECTURL=http://localhost:5555/auth/callback
export PORT=5555
export CORS_ORIGIN=http://localhost:8080
