<!DOCTYPE HTML>
<html>
  <head>
    <title>Bibliograph</title>
  </head>
  <body>
    <div id="loading"><p>Loading...</p></div>
    <div id="graph"></div>
    <div id="editor"></div>
  </body>
</html>
